<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.mynotary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Signup.SignupActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaseDetails.CaseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Schedule.ScheduleFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule.ScheduleDetailActivity"
            android:label="@string/title_activity_schedule_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary.DictionaryDetailsActivity"
            android:label="@string/title_activity_dictionary_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schedule.NewScheduleActivity"
            android:label="@string/title_activity_new_schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Material.MaterialActivity"
            android:label="@string/title_activity_material"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>