<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.mynotary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CaseDetails.CaseDetailsActivity" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Schedule.ScheduleActivity" />
        <activity
            android:name=".Schedule.ScheduleDetailActivity"
            android:label="@string/title_activity_schedule_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary.DictionaryDetailsActivity"
            android:label="@string/title_activity_dictionary_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schedule.NewScheduleActivity"
            android:label="@string/title_activity_new_schedule"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>